.tree {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tree-item--header {
    display: flex;
    padding: .25rem .5rem;
    gap: .25rem;
    align-items: center;
    user-select: none;
    border-radius: .25rem;
}

.tree-item-name {
    flex: 1;
}

.tree-item--header.has-children {
    cursor: pointer;
}

.tree-item--header:hover {
    background-color: #ddd;
}

.tree-item--children {
    display: none;
    flex-direction: column;
    margin-left: 1rem;
    padding-left: .5rem;
    border-left: .1rem solid #ccc;
}

.tree-item--children.open {
    display: flex;
}