:root {
    --size-0: .25rem;
    --size-1: .5rem;
    --size-2: .75rem;
    --size-3: 1rem;
    --color-light-0: #fff;
    --color-light-1: #eee;
    --color-light-2: #ddd;
    --color-light-3: #ccc;
    --color-light-4: #bbb;
    --color-light-5: #aaa;
    --color-dark-0: #000;
    --color-dark-1: #111;
    --color-dark-2: #222;
    --color-dark-3: #333;
    --color-dark-4: #444;
    --color-dark-5: #555;
    --tab-border-color: #ccc;
    --tab-background-color: #fff;
  }